.homepage {
  min-height: 1255px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.filter-button {
  position: absolute;
  display: none;
  cursor: pointer;
}

.filter-button.active {
  display: block;
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  opacity: 1;
  position: absolute;
  margin-left: 10px;
}

.books-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.button-morebook {
  border-radius: 5px;
  cursor: pointer;
  height: 70px;
  width: 180px;
  margin-right: 13px;
  margin-top: 20px;
  position: relative;
  background: none;
  align-self: flex-end;
  font-size: 22px;
}

@media screen and (min-width: 1650px) {
  .books {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 20px;
    transition: width 0.4s linear;
  }

  .books.active {
    width: auto;
    transition: width 0.4s linear;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1440px) and (max-width: 1649px) {
  .books {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    transition: width 0.4s linear;
  }

  .books.active {
    width: 100%;
    transition: width 0.4s linear;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1439px) {
  .books {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    transition: width 0.4s linear;
    margin-top: 40px;
  }

  .books.active {
    width: 100%;
    transition: width 0.4s linear;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .books {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    transition: width 0.4s linear;
  }

  .books.active {
    column-gap: 20px;
    width: auto;
    transition: width 0.4s linear;
    grid-template-columns: repeat(2, 1fr);
  }
  .button-morebook {
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-right: 13px;
    margin-top: 20px;
    position: relative;
    background: none;
    align-self: flex-end;
    font-size: 16px;
  }
  .homepage {
    min-height: 1255px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 540px) {
  .books {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    transition: width 0.4s linear;
  }

  .books.active {
    column-gap: 20px;
    width: auto;
    transition: width 0.4s linear;
    grid-template-columns: repeat(1, 1fr);
  }
  .button-morebook {
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-right: 13px;
    margin-top: 20px;
    position: relative;
    background: none;
    align-self: flex-end;
    font-size: 16px;
  }
  .homepage {
    min-height: 1255px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }
}
