.footer {
  bottom: 0;
  height: 200px;
  width: 100%;
  background: antiquewhite;
  border-top: 3px groove rgba(97, 109, 97, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
